.icon::first-letter{font-family:"WebAtlas";}                                                /* Pour les icones à gauche de l'element */
.icon.div{font-family:"WebAtlas";display:inline-block}                                      /* Pour les icones à l'interieure d'un element */
.icon.div-indent{width:28px;text-align:left;font-family:"WebAtlas";display:inline-block}    /* Pour les icones à gauche de l'element avec une indentation sur la droite */


/* Right / Wrong */
.icon.right::before{content:"\100  ";}
.icon.wrong::before{content:"\101  ";}
.icon.right-medium::before{content:"\102  ";}
.icon.wrong-medium::before{content:"\103  ";}
.icon.right-bold::before{content:"\104  ";}
.icon.wrong-bold::before{content:"\105  ";}
.icon.right-rounded::before{content:"\10a  ";}
.icon.wrong-rounded::before{content:"\10b  ";}
.icon.right-rounded-bold::before{content:"\106  ";}
.icon.wrong-rounded-bold::before{content:"\107  ";}
.icon.right-handwriting::before{content:"\10c  ";}
.icon.wrong-handwriting::before{content:"\10d  ";}
.icon.right-handwriting2::before{content:"\108  ";}
.icon.wrong-handwriting2::before{content:"\109  ";}

/* Admin */
.icon.newFile::before{content:"\249  ";}
.icon.open::before{content:"\250  ";}
.icon.save::before{content:"\251  ";}
.icon.warning::before{content:"\1d4  ";}
.icon.warning2::before{content:"\1d5  ";}
.icon.uploadFile::before{content:"\2e6  ";}
.icon.file::before{content:"\24f  ";}
.icon.user::before{content:"\2e6  ";}
.icon.addUser::before{content:"\3a9  ";}
.icon.users::before{content:"\3ac  ";}
.icon.login::before{content:"\6f  ";}
.icon.logout::before{content:"\2f6  ";}
.icon.log::before{content:"\264  ";}
.icon.wheel::before{content:"\222  ";}
.icon.wheel2::before{content:"\223  ";}
.icon.wheel3::before{content:"\223  ";}

/* Geometric */
.icon.circle::before{content:"\186  ";}
.icon.circle2::before{content:"\188  ";}
.icon.circle3::before{content:"\189  ";}
.icon.circle4::before{content:"\187  ";}
.icon.circle-dashed::before{content:"\18a  ";}
.icon.circle-dashed2::before{content:"\18b  ";}
.icon.circle-dashed3::before{content:"\18c  ";}
.icon.circle-hatched::before{content:"\18d  ";}
.icon.circle-hatched2::before{content:"\18e  ";}
.icon.square-dashed::before{content:"\18f  ";}
.icon.square-dashed2::before{content:"\190  ";}
.icon.square-dashed3::before{content:"\191  ";}
.icon.square-dashed4::before{content:"\192  ";}
.icon.square-dashed5::before{content:"\193  ";}
.icon.square-hatched::before{content:"\194  ";}
.icon.square-hatched2::before{content:"\195  ";}
.icon.hex::before{content:"\1a1  ";}
.icon.hex-rounded::before{content:"\1a2  ";}
.icon.hex-stroke::before{content:"\1a3  ";}
.icon.hex2::before{content:"\19e  ";}
.icon.hex2-rounded::before{content:"\19f  ";}
.icon.hex2-stroke::before{content:"\1a0  ";}
.icon.triangle::before{content:"\196  ";}
.icon.triangle-down::before{content:"\197  ";}
.icon.diamond::before{content:"\198  ";}
.icon.pentagon::before{content:"\19b  ";}
.icon.pentagon-rounded::before{content:"\19c  ";}
.icon.pentagon-stroke::before{content:"\19d  ";}

/* Circle */
.icon.circle-right::before{content:"\1ad  ";}
.icon.circle-wrong::before{content:"\1ae  ";}
.icon.circle-right-handwriting::before{content:"\1af  ";}
.icon.circle-wrong-handwriting::before{content:"\1b0  ";}
.icon.circle-plus::before{content:"\1b1  ";}
.icon.circle-minus::before{content:"\1b2  ";}
.icon.circle-info::before{content:"\1b6  ";}
.icon.circle-warning::before{content:"\1b5  ";}
.icon.circle-left::before{content:"\1b7  ";}
.icon.circle-up::before{content:"\1b8  ";}
.icon.circle-right::before{content:"\1b9  ";}
.icon.circle-down::before{content:"\1ba  ";}

/* Player */
.icon.next::before{content:"\118  ";}
.icon.pause::before{content:"\115  ";}
.icon.play::before{content:"\114  ";}
.icon.previous::before{content:"\119  ";}
.icon.rewind::before{content:"\11b  ";}
.icon.stop::before{content:"\116  ";}
.icon.fastForward::before{content:"\11a  ";}

/* Les autres */
.icon.planete::before{content:"@  ";}
