.icon::first-letter{font-family:"WebAtlas";}                                                /* Pour les icones à gauche de l'element */
.icon.div{font-family:"WebAtlas";display:inline-block}                                      /* Pour les icones à l'interieure d'un element */
.icon.div-indent{width:28px;text-align:left;font-family:"WebAtlas";display:inline-block}    /* Pour les icones à gauche de l'element avec une indentation sur la droite */


/* General */
.icon.newFile::before{content:"\24f  ";}
.icon.open::before{content:"\250  ";}
.icon.save::before{content:"\251  ";}
.icon.copy::before{content:"\252  ";}
.icon.newFile-sharp::before{content:"\249  ";}
.icon.open-sharp::before{content:"\24a  ";}
.icon.save-sharp::before{content:"\24b  ";}
.icon.copy-sharp::before{content:"\24c  ";}
.icon.warning::before{content:"\1d4  ";}
.icon.warning2::before{content:"\1d5  ";}
.icon.uploadFile::before{content:"\2c7  ";}
.icon.file::before{content:"\24f  ";}
.icon.user::before{content:"\3a8  ";}
.icon.addUser::before{content:"\3a9  ";}
.icon.users::before{content:"\3ac  ";}
.icon.userGroup::before{content:"\34d  ";}
.icon.login::before{content:"\413  ";}
.icon.spreadsheet::before{content:"\261  ";}
.icon.spreadsheet2::before{content:"\262  ";}
.icon.spreadsheet3::before{content:"\263  ";}
.icon.spreadsheet4::before{content:"\264  ";}
.icon.wheel::before{content:"\222  ";}
.icon.wheel2::before{content:"\223  ";}
.icon.wheel3::before{content:"\224  ";}
.icon.wheel4::before{content:"\225  ";}
.icon.wheel5::before{content:"\226  ";}
.icon.wheel6::before{content:"\227  ";}
.icon.wheel7::before{content:"\228  ";}
.icon.dustbin::before{content:"\3f6  ";}
.icon.dustbin2::before{content:"\3f7  ";}
.icon.pen::before{content:"\403  ";}
.icon.pen2::before{content:"\404  ";}
.icon.pen3::before{content:"\405  ";}
.icon.pen4::before{content:"\406  ";}
.icon.reload::before{content:"\1fb  ";}
.icon.reload2::before{content:"\1fc  ";}
.icon.menu::before{content:"\26a  ";}
.icon.menu2::before{content:"\26b  ";}
.icon.menu3::before{content:"\26c  ";}
.icon.menu4::before{content:"\26d  ";}
.icon.menu5::before{content:"\26e  ";}
.icon.menu6::before{content:"\26f  ";}
.icon.image::before{content:"\25f  ";}
.icon.image2::before{content:"\260  ";}

/* Right / Wrong */
.icon.right::before{content:"\100  ";}
.icon.wrong::before{content:"\101  ";}
.icon.right-medium::before{content:"\102  ";}
.icon.wrong-medium::before{content:"\103  ";}
.icon.right-bold::before{content:"\104  ";}
.icon.wrong-bold::before{content:"\105  ";}
.icon.right-rounded::before{content:"\10a  ";}
.icon.wrong-rounded::before{content:"\10b  ";}
.icon.right-rounded-bold::before{content:"\106  ";}
.icon.wrong-rounded-bold::before{content:"\107  ";}
.icon.right-handwriting::before{content:"\10c  ";}
.icon.wrong-handwriting::before{content:"\10d  ";}
.icon.right-handwriting2::before{content:"\108  ";}
.icon.wrong-handwriting2::before{content:"\109  ";}

/* Plus / Minus */
.icon.plus::before{content:"\297  ";}
.icon.minus::before{content:"\298  ";}
.icon.plus2::before{content:"\299  ";}
.icon.minus2::before{content:"\29a  ";}
.icon.plus3::before{content:"\29b  ";}
.icon.minus3::before{content:"\29c  ";}
.icon.plus4::before{content:"\29d  ";}
.icon.minus4::before{content:"\29e  ";}
.icon.plus5::before{content:"\29f  ";}
.icon.minus5::before{content:"\2a0  ";}

/* Geometric */
.icon.circle::before{content:"\186  ";}
.icon.circle2::before{content:"\188  ";}
.icon.circle3::before{content:"\189  ";}
.icon.circle4::before{content:"\187  ";}
.icon.circle-dashed::before{content:"\18a  ";}
.icon.circle-dashed2::before{content:"\18b  ";}
.icon.circle-dashed3::before{content:"\18c  ";}
.icon.circle-hatched::before{content:"\18d  ";}
.icon.circle-hatched2::before{content:"\18e  ";}
.icon.square-dashed::before{content:"\18f  ";}
.icon.square-dashed2::before{content:"\190  ";}
.icon.square-dashed3::before{content:"\191  ";}
.icon.square-dashed4::before{content:"\192  ";}
.icon.square-dashed5::before{content:"\193  ";}
.icon.square-hatched::before{content:"\194  ";}
.icon.square-hatched2::before{content:"\195  ";}
.icon.hex::before{content:"\1a1  ";}
.icon.hex-rounded::before{content:"\1a2  ";}
.icon.hex-stroke::before{content:"\1a3  ";}
.icon.hex2::before{content:"\19e  ";}
.icon.hex2-rounded::before{content:"\19f  ";}
.icon.hex2-stroke::before{content:"\1a0  ";}
.icon.triangle::before{content:"\196  ";}
.icon.triangle-down::before{content:"\197  ";}
.icon.diamond::before{content:"\198  ";}
.icon.pentagon::before{content:"\19b  ";}
.icon.pentagon-rounded::before{content:"\19c  ";}
.icon.pentagon-stroke::before{content:"\19d  ";}

/* Circle */
.icon.circle-right::before{content:"\1ad  ";}
.icon.circle-wrong::before{content:"\1ae  ";}
.icon.circle-right-handwriting::before{content:"\1af  ";}
.icon.circle-wrong-handwriting::before{content:"\1b0  ";}
.icon.circle-plus::before{content:"\1b1  ";}
.icon.circle-minus::before{content:"\1b2  ";}
.icon.circle-info::before{content:"\1b6  ";}
.icon.circle-warning::before{content:"\1b5  ";}
.icon.circle-left::before{content:"\1b7  ";}
.icon.circle-up::before{content:"\1b8  ";}
.icon.circle-right::before{content:"\1b9  ";}
.icon.circle-down::before{content:"\1ba  ";}

/* FORM */
.icon.radio::before{content:"\271  ";}
.icon.radio-checked::before{content:"\270  ";}
.icon.checkbox::before{content:"\273  ";}
.icon.checkbox-checked::before{content:"\272  ";}
.icon.radio2::before{content:"\275  ";}
.icon.radio-checked2::before{content:"\274  ";}
.icon.checkbox2::before{content:"\277  ";}
.icon.checkbox-checked2::before{content:"\276  ";}
.icon.radio3::before{content:"\279  ";}
.icon.radio-checked3::before{content:"\278  ";}
.icon.checkbox3::before{content:"\27B  ";}
.icon.checkbox-checked3::before{content:"\27A  ";}

/* Player */
.icon.play::before{content:"\531  ";}
.icon.pause::before{content:"\532  ";}
.icon.stop::before{content:"\533  ";}
.icon.slow::before{content:"\534  ";}
.icon.next::before{content:"\535  ";}
.icon.previous::before{content:"\536  ";}
.icon.fastForward::before{content:"\537  ";}
.icon.rewind::before{content:"\538  ";}
.icon.eject::before{content:"\539  ";}
.icon.speaker-high::before{content:"\53a  ";}
.icon.speaker-medium::before{content:"\53b  ";}
.icon.speaker-low::before{content:"\53c  ";}
.icon.speaker-mute::before{content:"\53d  ";}
.icon.loop::before{content:"\53e  ";}
.icon.loopUnique::before{content:"\53f  ";}
.icon.random::before{content:"\540  ";}
.icon.play-sharp::before{content:"\531  ";}
.icon.pause-sharp::before{content:"\532  ";}
.icon.stop-sharp::before{content:"\533  ";}
.icon.slow-sharp::before{content:"\534  ";}
.icon.next-sharp::before{content:"\535  ";}
.icon.previous-sharp::before{content:"\536  ";}
.icon.fastForward-sharp::before{content:"\537  ";}
.icon.rewind-sharp::before{content:"\538  ";}
.icon.eject-sharp::before{content:"\539  ";}
.icon.speaker-high-sharp::before{content:"\53a  ";}
.icon.speaker-medium-sharp::before{content:"\53b  ";}
.icon.speaker-low-sharp::before{content:"\53c  ";}
.icon.speaker-mute-sharp::before{content:"\53d  ";}
.icon.loop-sharp::before{content:"\53e  ";}
.icon.loopUnique-sharp::before{content:"\53f  ";}
.icon.random-sharp::before{content:"\540  ";}

/* Arrow */
.icon.arrow-left::before{content:"\4c1  ";}
.icon.arrow-up::before{content:"\4c2  ";}
.icon.arrow-right::before{content:"\4c3  ";}
.icon.arrow-down::before{content:"\4c4  ";}
.icon.arrow-up-left::before{content:"\4c5  ";}
.icon.arrow-up-right::before{content:"\4c6  ";}
.icon.arrow-down-right::before{content:"\4c7  ";}
.icon.arrow-down-left::before{content:"\4c8  ";}
.icon.arrow2-left::before{content:"\4c9  ";}
.icon.arrow2-up::before{content:"\4ca  ";}
.icon.arrow2-right::before{content:"\4cb  ";}
.icon.arrow2-down::before{content:"\4cc  ";}
.icon.arrow2-up-left::before{content:"\4cd  ";}
.icon.arrow2-up-right::before{content:"\4ce  ";}
.icon.arrow2-down-right::before{content:"\4cf  ";}
.icon.arrow2-down-left::before{content:"\4d0  ";}
.icon.padlock::before{content:"\444  ";}
.icon.padlock-unlock::before{content:"\445  ";}

/* Divers */
.icon.planete::before{content:"\46b  ";}
.icon.planete2::before{content:"\46c  ";}
.icon.barcode::before{content:"\168  ";}
.icon.qrcode::before{content:"\169  ";}
.icon.circlecode::before{content:"\164  ";}
.icon.link::before{content:"\16c  ";}
.icon.link2::before{content:"\16d  ";}
.icon.text::before{content:"\492  ";}
.icon.postIt::before{content:"\493  ";}
.icon.formRadio::before{content:"\494  ";}
.icon.formCheckbox::before{content:"\495  ";}
.icon.clickableImage::before{content:"\496  ";}
