.icon{width:1.2em;text-align:center}
div.icon{display:inline-block}
i.icon{font-style:normal;}
.icon.combine{margin-left:-1.2em}
.icon.unconstraint{width:auto}
.icon-first::before{margin-right:0.3em}

/* Multiple sets management */
.icon::before,.icon-first::before{font-family:"WebAtlas-icons"}
.icon.original::before,.icon-first.original::before{font-family:"WebAtlas-icons-original","WebAtlas-icons";}
.icon.sharp::before,.icon-first.sharp::before{font-family:"WebAtlas-icons-sharp","WebAtlas-icons";}
.icon.outline::before,.icon-first.outline::before{font-family:"WebAtlas-icons-outline","WebAtlas-icons";}

.icon.geometrics::before{font-family:"WebAtlas-geometrics"}
.icon.geometrics.original::before,.icon-first.geometrics.original::before{font-family:"WebAtlas-geometrics-original","WebAtlas-geometrics";}
.icon.geometrics.sharp::before,.icon-first.geometrics.sharp::before{font-family:"WebAtlas-geometrics-sharp","WebAtlas-geometrics";}
.icon.geometrics.outline::before,.icon-first.geometrics.outline::before{font-family:"WebAtlas-geometrics-outline","WebAtlas-geometrics";}

.icon.games::before{font-family:"WebAtlas-games"}
.icon.games.original::before,.icon-first.games.original::before{font-family:"WebAtlas-games-original","WebAtlas-games";}
.icon.games.sharp::before,.icon-first.games.sharp::before{font-family:"WebAtlas-games-sharp","WebAtlas-games";}
.icon.games.outline::before,.icon-first.games.outline::before{font-family:"WebAtlas-games-outline","WebAtlas-games";}

@font-face {
    font-family: 'WebAtlas';
    src: url('font/WebAtlas.woff2') format('woff2'),
         url('font/WebAtlas.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*** ICONS LIST ***/

/* General */
.icon.newFile::before,.icon-first.newFile::before{content:"ɏ";}
.icon.open::before,.icon-first.open::before{content:"ɐ";}
.icon.save::before,.icon-first.save::before{content:"ɑ";}
.icon.copy::before,.icon-first.copy::before{content:"ɒ";}
.icon.cut::before,.icon-first.cut::before{content:"ɔ";}
.icon.paste::before,.icon-first.paste::before{content:"ɓ";}
.icon.copy2::before,.icon-first.copy2::before{content:"ɕ";}
.icon.paste2::before,.icon-first.paste2::before{content:"ɖ";}
.icon.email::before,.icon-first.email::before{content:"ĸ";}
.icon.email-open::before,.icon-first.email-open::before{content:"Ĺ";}
.icon.attachment::before,.icon-first.attachment::before{content:"Ļ";}
.icon.notification::before,.icon-first.notification::before{content:"ñ";}
.icon.warning::before,.icon-first.warning::before{content:"ǔ";}
.icon.warning2::before,.icon-first.warning2::before{content:"Ǖ";}
.icon.file::before,.icon-first.file::before{content:"Ȑ";}
.icon.uploadFile::before,.icon-first.uploadFile::before{content:"Ȓ";}
.icon.downloadFile::before,.icon-first.downloadFile::before{content:"ȑ";}
.icon.downloadData::before,.icon-first.downloadData::before{content:"ȓ";}
.icon.downloadData2::before,.icon-first.downloadData2::before{content:"Ȕ";}
.icon.user::before,.icon-first.user::before{content:"Ψ";}
.icon.addUser::before,.icon-first.addUser::before{content:"Ω";}
.icon.removeUser::before,.icon-first.removeUser::before{content:"Ϊ";}
.icon.modifyUser::before,.icon-first.modifyUser::before{content:"Ϋ";}
.icon.users::before,.icon-first.users::before{content:"ά";}
.icon.userGroup::before,.icon-first.userGroup::before{content:"έ";}
.icon.user2::before,.icon-first.user2::before{content:"ή";}
.icon.addUser2::before,.icon-first.addUser2::before{content:"ί";}
.icon.removeUser2::before,.icon-first.removeUser2::before{content:"ΰ";}
.icon.modifyUser2::before,.icon-first.modifyUser2::before{content:"α";}
.icon.users2::before,.icon-first.users2::before{content:"β";}
.icon.userGroup2::before,.icon-first.userGroup2::before{content:"γ";}
.icon.login::before,.icon-first.login::before{content:"А";}
.icon.logout::before,.icon-first.logout::before{content:"Б";}
.icon.connexion::before,.icon-first.connexion::before{content:"В";}
.icon.connexion2::before,.icon-first.connexion2::before{content:"Г";}
.icon.spreadsheet::before,.icon-first.spreadsheet::before{content:"ɡ";}
.icon.spreadsheet2::before,.icon-first.spreadsheet2::before{content:"ɢ";}
.icon.spreadsheet3::before,.icon-first.spreadsheet3::before{content:"ɣ";}
.icon.spreadsheet4::before,.icon-first.spreadsheet4::before{content:"ɤ";}
.icon.gear::before,.icon-first.gear::before{content:"Ȣ";}
.icon.gear2::before,.icon-first.gear2::before{content:"ȣ";}
.icon.gear3::before,.icon-first.gear3::before{content:"Ȥ";}
.icon.gear4::before,.icon-first.gear4::before{content:"ȥ";}
.icon.gear5::before,.icon-first.gear5::before{content:"Ȧ";}
.icon.gear6::before,.icon-first.gear6::before{content:"ȧ";}
.icon.gear7::before,.icon-first.gear7::before{content:"Ȩ";}
.icon.gear8::before,.icon-first.gear8::before{content:"ȩ";}
.icon.settings::before,.icon-first.settings::before{content:"ȯ";}
.icon.settings2::before,.icon-first.settings2::before{content:"Ȱ";}
.icon.settings3::before,.icon-first.settings3::before{content:"ȱ";}
.icon.dustbin::before,.icon-first.dustbin::before{content:"Ϸ";}
.icon.dustbin2::before,.icon-first.dustbin2::before{content:"ϸ";}
.icon.pen::before,.icon-first.pen::before{content:"Ѓ";}
.icon.pen2::before,.icon-first.pen2::before{content:"Є";}
.icon.pen3::before,.icon-first.pen3::before{content:"Ѕ";}
.icon.pen4::before,.icon-first.pen4::before{content:"І";}
.icon.reload::before,.icon-first.reload::before{content:"Ǻ";}
.icon.reload-left::before,.icon-first.reload-left::before{content:"ǻ";}
.icon.reload2::before,.icon-first.reload2::before{content:"Ǽ";}
.icon.reload3::before,.icon-first.reload3::before{content:"ǽ";}
.icon.reload4::before,.icon-first.reload4::before{content:"ǹ";}
.icon.apps::before,.icon-first.apps::before{content:"ɨ";}
.icon.apps2::before,.icon-first.apps2::before{content:"ɪ";}
.icon.menu::before,.icon-first.menu::before{content:"ɭ";}
.icon.menu2::before,.icon-first.menu2::before{content:"ɮ";}
.icon.menu2-vertical::before,.icon-first.menu2-vertical::before{content:"ɯ";}
.icon.image::before,.icon-first.image::before{content:"ɟ";}
.icon.image2::before,.icon-first.image2::before{content:"ɠ";}
.icon.home::before,.icon-first.home::before{content:"ˌ";}
.icon.home2::before,.icon-first.home2::before{content:"ˍ";}
.icon.magnify::before,.icon-first.magnify::before{content:"є";}

/* Ok / Ko */
.icon.ok::before,.icon-first.ok::before{content:"Ą";}
.icon.ko::before,.icon-first.ko::before{content:"ą";}
.icon.ok-thin::before,.icon-first.ok-thin::before{content:"Ă";}
.icon.ko-thin::before,.icon-first.ko-thin::before{content:"ă";}
.icon.ok-thinner::before,.icon-first.ok-thinner::before{content:"Ā";}
.icon.ko-thinner::before,.icon-first.ko-thinner::before{content:"ā";}
.icon.ok-large::before,.icon-first.ok-large::before{content:"Ć";}
.icon.ko-large::before,.icon-first.ko-large::before{content:"ć";}
.icon.ok-larger::before,.icon-first.ok-larger::before{content:"Ĉ";}
.icon.ko-larger::before,.icon-first.ko-larger::before{content:"ĉ";}
.icon.ok-double::before,.icon-first.ok-double::before{content:"Ċ";}
.icon.ko-double::before,.icon-first.ko-double::before{content:"ċ";}
.icon.ok-double2::before,.icon-first.ok-double2::before{content:"Č";}
.icon.ko-double2::before,.icon-first.ko-double2::before{content:"č";}
.icon.ok-mini::before,.icon-first.ok-mini::before{content:"Ď";}
.icon.ko-mini::before,.icon-first.ko-mini::before{content:"ď";}

/* Plus / Minus */
.icon.plus::before,.icon-first.plus::before{content:"ʛ";}
.icon.minus::before,.icon-first.minus::before{content:"ʜ";}
.icon.plus-thin::before,.icon-first.plus-thin::before{content:"ʙ";}
.icon.minus-thin::before,.icon-first.minus-thin::before{content:"ʚ";}
.icon.plus-thinner::before,.icon-first.plus3::before{content:"ʗ";}
.icon.minus-thinner::before,.icon-first.minus-thinner::before{content:"ʘ";}
.icon.plus-large::before,.icon-first.plus-large::before{content:"ʝ";}
.icon.minus-large::before,.icon-first.minus-large::before{content:"ʞ";}
.icon.plus-larger::before,.icon-first.plus-larger::before{content:"ʟ";}
.icon.minus-larger::before,.icon-first.minus-larger::before{content:"ʠ";}
.icon.plus-double::before,.icon-first.plus-double::before{content:"ʡ";}
.icon.minus-double::before,.icon-first.minus-double::before{content:"ʢ";}
.icon.plus-double2::before,.icon-first.plus-double2::before{content:"ʣ";}
.icon.minus-double2::before,.icon-first.minus-double2::before{content:"ʤ";}
.icon.plus-mini::before,.icon-first.plus-mini::before{content:"ʥ";}
.icon.minus-mini::before,.icon-first.minus-mini::before{content:"ʦ";}

/* Circle */
.icon.circle-ok::before,.icon-first.circle-ok::before{content:"ƭ";}
.icon.circle-ko::before,.icon-first.circle-ko::before{content:"Ʈ";}
.icon.circle-ok-handwriting::before,.icon-first.circle-ok-handwriting::before{content:"Ư";}
.icon.circle-ko-handwriting::before,.icon-first.circle-ko-handwriting::before{content:"ư";}
.icon.circle-plus::before,.icon-first.circle-plus::before{content:"Ʊ";}
.icon.circle-minus::before,.icon-first.circle-minus::before{content:"Ʋ";}
.icon.circle-info::before,.icon-first.circle-info::before{content:"ƶ";}
.icon.circle-warning::before,.icon-first.circle-warning::before{content:"Ƶ";}
.icon.circle-arrowLeft::before,.icon-first.circle-arrowLeft::before{content:"Ʒ";}
.icon.circle-arrowUp::before,.icon-first.circle-arrowUp::before{content:"Ƹ";}
.icon.circle-arrowRight::before,.icon-first.circle-arrowRight::before{content:"ƹ";}
.icon.circle-arrowDown::before,.icon-first.circle-arrowDown::before{content:"ƺ";}
.icon.circle-play::before,.icon-first.circle-play::before{content:"ƻ";}
.icon.circle-pause::before,.icon-first.circle-pause::before{content:"Ƽ";}
.icon.circle-download::before,.icon-first.circle-download::before{content:"ƽ";}
.icon.circle-upload::before,.icon-first.circle-upload::before{content:"ƾ";}

/* FORM */
.icon.radio::before,.icon-first.radio::before{content:"ɰ";}
.icon.radio-checked::before,.icon-first.radio-checked::before{content:"ɱ";}
.icon.checkbox::before,.icon-first.checkbox::before{content:"ɲ";}
.icon.checkbox-checked::before,.icon-first.checkbox-checked::before{content:"ɳ";}
.icon.radio2::before,.icon-first.radio2::before{content:"ɴ";}
.icon.radio2-checked::before,.icon-first.radio2-checked::before{content:"ɵ";}
.icon.checkbox2::before,.icon-first.checkbox2::before{content:"ɶ";}
.icon.checkbox2-checked::before,.icon-first.checkbox2-checked::before{content:"ɷ";}
.icon.radio3::before,.icon-first.radio3::before{content:"ɸ";}
.icon.radio3-checked::before,.icon-first.radio3-checked::before{content:"ɹ";}
.icon.checkbox3::before,.icon-first.checkbox3::before{content:"ɺ";}
.icon.checkbox3-checked::before,.icon-first.checkbox3-checked::before{content:"ɻ";}

/* Player */
.icon.play::before,.icon-first.play::before{content:"Ա";}
.icon.pause::before,.icon-first.pause::before{content:"Բ";}
.icon.stop::before,.icon-first.stop::before{content:"Գ";}
.icon.slow::before,.icon-first.slow::before{content:"Դ";}
.icon.next::before,.icon-first.next::before{content:"Ե";}
.icon.previous::before,.icon-first.previous::before{content:"Զ";}
.icon.fastForward::before,.icon-first.fastForward::before{content:"Է";}
.icon.rewind::before,.icon-first.rewind::before{content:"Ը";}
.icon.eject::before,.icon-first.eject::before{content:"Թ";}
.icon.speaker-high::before,.icon-first.speaker-high::before{content:"Ժ";}
.icon.speaker-medium::before,.icon-first.speaker-medium::before{content:"Ի";}
.icon.speaker-low::before,.icon-first.speaker-low::before{content:"Լ";}
.icon.speaker-mute::before,.icon-first.speaker-mute::before{content:"Խ";}
.icon.loop::before,.icon-first.loop::before{content:"Ծ";}
.icon.loopUnique::before,.icon-first.loopUnique::before{content:"Կ";}
.icon.random::before,.icon-first.random::before{content:"Հ";}

/* Arrow */
.icon.undo::before,.icon-first.arrow-undo::before{content:"ӡ";}
.icon.redo::before,.icon-first.arrow-redo::before{content:"Ӣ";}
.icon.arrow-swap::before,.icon-first.arrow-swap::before{content:"ӣ";}
.icon.move::before,.icon-first.arrow-move::before{content:"Ӥ";}
.icon.move-alt::before,.icon-first.arrow-move-alt::before{content:"ӥ";}
.icon.arrow-horizontal::before,.icon-first.arrow-horizontal::before{content:"Ӧ";}
.icon.arrow-vertical::before,.icon-first.arrow-vertical::before{content:"ӧ";}
.icon.arrow-diagonal::before,.icon-first.arrow-diagonal::before{content:"Ө";}
.icon.arrow-diagonal2::before,.icon-first.arrow-diagonal2::before{content:"ө";}
.icon.arrow-align-horizontal::before,.icon-first.arrow-align-horizontal::before{content:"Ӫ";}
.icon.arrow-align-vertical::before,.icon-first.arrow-align-vertical::before{content:"ӫ";}
.icon.arrow-align-left::before,.icon-first.arrow-align-left::before{content:"Ӭ";}
.icon.arrow-align-top::before,.icon-first.arrow-align-top::before{content:"ӭ";}
.icon.arrow-align-right::before,.icon-first.arrow-align-right::before{content:"Ӯ";}
.icon.arrow-align-down::before,.icon-first.arrow-align-down::before{content:"ӯ";}
.icon.arrow-resize-up::before,.icon-first.arrow-resize-up::before{content:"Ӱ";}
.icon.arrow-resize-down::before,.icon-first.arrow-resize-down::before{content:"ӱ";}
.icon.arrow-left::before,.icon-first.arrow-left::before{content:"ҹ";}
.icon.arrow-up::before,.icon-first.arrow-up::before{content:"Һ";}
.icon.arrow-right::before,.icon-first.arrow-right::before{content:"һ";}
.icon.arrow-down::before,.icon-first.arrow-down::before{content:"Ҽ";}
.icon.arrow-up-left::before,.icon-first.arrow-up-left::before{content:"ҽ";}
.icon.arrow-up-right::before,.icon-first.arrow-up-right::before{content:"Ҿ";}
.icon.arrow-down-right::before,.icon-first.arrow-down-right::before{content:"ҿ";}
.icon.arrow-down-left::before,.icon-first.arrow-down-left::before{content:"Ӏ";}
.icon.arrow2-left::before,.icon-first.arrow2-left::before{content:"Ӂ";}
.icon.arrow2-up::before,.icon-first.arrow2-up::before{content:"ӂ";}
.icon.arrow2-right::before,.icon-first.arrow2-right::before{content:"Ӄ";}
.icon.arrow2-down::before,.icon-first.arrow2-down::before{content:"ӄ";}
.icon.arrow2-up-left::before,.icon-first.arrow2-up-left::before{content:"Ӆ";}
.icon.arrow2-up-right::before,.icon-first.arrow2-up-right::before{content:"ӆ";}
.icon.arrow2-down-right::before,.icon-first.arrow2-down-right::before{content:"Ӈ";}
.icon.arrow2-down-left::before,.icon-first.arrow2-down-left::before{content:"ӈ";}
.icon.arrow3-left::before,.icon-first.arrow3-left::before{content:"Ӊ";}
.icon.arrow3-up::before,.icon-first.arrow3-up::before{content:"ӊ";}
.icon.arrow3-right::before,.icon-first.arrow3-right::before{content:"Ӌ";}
.icon.arrow3-down::before,.icon-first.arrow3-down::before{content:"ӌ";}
.icon.arrow3-up-left::before,.icon-first.arrow3-up-left::before{content:"Ӎ";}
.icon.arrow3-up-right::before,.icon-first.arrow3-up-right::before{content:"ӎ";}
.icon.arrow3-down-right::before,.icon-first.arrow3-down-right::before{content:"ӏ";}
.icon.arrow3-down-left::before,.icon-first.arrow3-down-left::before{content:"Ӑ";}
.icon.arrow4-left::before,.icon-first.arrow4-left::before{content:"ӑ";}
.icon.arrow4-up::before,.icon-first.arrow4-up::before{content:"Ӓ";}
.icon.arrow4-right::before,.icon-first.arrow4-right::before{content:"ӓ";}
.icon.arrow4-down::before,.icon-first.arrow4-down::before{content:"Ӕ";}
.icon.arrow4-up-left::before,.icon-first.arrow4-up-left::before{content:"ӕ";}
.icon.arrow4-up-right::before,.icon-first.arrow4-up-right::before{content:"Ӗ";}
.icon.arrow4-down-right::before,.icon-first.arrow4-down-right::before{content:"ӗ";}
.icon.arrow4-down-left::before,.icon-first.arrow4-down-left::before{content:"Ә";}
.icon.arrow4-down-left::before,.icon-first.arrow4-down-left::before{content:"Ә";}
.icon.arrow-list::before,.icon-first.arrow-list::before{content:"Ӳ";}
.icon.arrow2-list::before,.icon-first.arrow2-list::before{content:"ӳ";}
.icon.arrow3-list::before,.icon-first.arrow3-list::before{content:"Ӵ";}
.icon.arrow4-list::before,.icon-first.arrow4-list::before{content:"ӵ";}

/* Divers */
.icon.bulb::before,.icon-first.bulb::before{content:"ï";}
.icon.lightning::before,.icon-first.lightning::before{content:"ð";}
.icon.bookmark::before,.icon-first.bookmark::before{content:"ò";}
.icon.hierarchie::before,.icon-first.hierarchie::before{content:"ê";}
.icon.building::before,.icon-first.building::before{content:"ë";}
.icon.crown::before,.icon-first.crown::before{content:"í";}
.icon.tutorial::before,.icon-first.tutorial::before{content:"î";}
.icon.map::before,.icon-first.map::before{content:"ó";}
.icon.archive::before,.icon-first.archive::before{content:"õ";}
.icon.bug::before,.icon-first.bug::before{content:"ö";}
.icon.idCard::before,.icon-first.idCard::before{content:"ø";}
.icon.weight::before,.icon-first.weight::before{content:"ù";}
.icon.application::before,.icon-first.application::before{content:"Ĕ";}
.icon.application-ok::before,.icon-first.application-ok::before{content:"ĕ";}
.icon.application-ko::before,.icon-first.application-ko::before{content:"Ė";}
.icon.application-warning::before,.icon-first.application-warning::before{content:"ė";}
.icon.application-gear::before,.icon-first.application-gear::before{content:"Ę";}
.icon.application-multiple::before,.icon-first.application-multiple::before{content:"ē";}
.icon.screen::before,.icon-first.screen::before{content:"ę";}
.icon.screen-play::before,.icon-first.screen-play::before{content:"ě";}
.icon.screen-gear::before,.icon-first.screen-gear::before{content:"Ě";}
.icon.mobile::before,.icon-first.mobile::before{content:"Ğ";}
.icon.tablet::before,.icon-first.tablet::before{content:"ĝ";}
.icon.keyboard::before,.icon-first.keyboard::before{content:"ğ";}
.icon.mouse::before,.icon-first.mouse::before{content:"Ġ";}
.icon.camera::before,.icon-first.camera::before{content:"ġ";}
.icon.camera2::before,.icon-first.camera2::before{content:"Ģ";}
.icon.webcam::before,.icon-first.webcam::before{content:"ģ";}
.icon.micro::before,.icon-first.micro::before{content:"Ĥ";}
.icon.speaker::before,.icon-first.speaker::before{content:"ĥ";}
.icon.chip::before,.icon-first.chip::before{content:"Ħ";}
.icon.server::before,.icon-first.server::before{content:"ħ";}
.icon.server2::before,.icon-first.server2::before{content:"Ĩ";}
.icon.database::before,.icon-first.database::before{content:"ĩ";}
.icon.cloud::before,.icon-first.cloud::before{content:"Ī";}
.icon.cloud-download::before,.icon-first.cloud-download::before{content:"ī";}
.icon.cloud-upload::before,.icon-first.cloud-upload::before{content:"Ĭ";}
.icon.cloud-swap::before,.icon-first.cloud-swap::before{content:"ĭ";}
.icon.cloud-sync::before,.icon-first.cloud-sync::before{content:"Į";}
.icon.cloud-ok::before,.icon-first.cloud-ok::before{content:"į";}
.icon.cloud-ko::before,.icon-first.cloud-ko::before{content:"İ";}
.icon.cloud-warning::before,.icon-first.cloud-warning::before{content:"ı";}
.icon.cloud-warning2::before,.icon-first.cloud-warning2::before{content:"Ĳ";}
.icon.calendar::before,.icon-first.calendar::before{content:"ŕ";}
.icon.calendar-days::before,.icon-first.calendar-days::before{content:"Ŗ";}
.icon.calendar-weeks::before,.icon-first.calendar-weeks::before{content:"ŗ";}
.icon.calendar-months::before,.icon-first.calendar-months::before{content:"Ř";}
.icon.calendar-modify::before,.icon-first.calendar-modify::before{content:"ř";}
.icon.calendar-add::before,.icon-first.calendar-add::before{content:"Ś";}
.icon.calendar-remove::before,.icon-first.calendar-remove::before{content:"ś";}
.icon.calendar-valide::before,.icon-first.calendar-valide::before{content:"Ŝ";}
.icon.calendar-warning::before,.icon-first.calendar-warning::before{content:"ŝ";}
.icon.calendar-lock::before,.icon-first.calendar-lock::before{content:"Ş";}
.icon.planete::before,.icon-first.planete::before{content:"ѫ";}
.icon.planete2::before,.icon-first.planete2::before{content:"Ѭ";}
.icon.network::before,.icon-first.network::before{content:"ѭ";}
.icon.plug::before,.icon-first.plug::before{content:"Ѯ";}
.icon.plug-off::before,.icon-first.plug-off::before{content:"ѯ";}
.icon.star::before,.icon-first.star::before{content:"ʾ";}
.icon.star-half::before,.icon-first.star-half::before{content:"ʿ";}
.icon.star-empty::before,.icon-first.star-empty::before{content:"ˀ";}
.icon.heart::before,.icon-first.heart::before{content:"Ϥ";}
.icon.infinite::before,.icon-first.infinite::before{content:"ϣ";}
.icon.puzzle::before,.icon-first.puzzle::before{content:"Ϫ";}
.icon.thumbUp::before,.icon-first.thumbUp::before{content:"Ϯ";}
.icon.thumbDown::before,.icon-first.thumbDown::before{content:"ϯ";}
.icon.badge::before,.icon-first.badge::before{content:"ϲ";}
.icon.checkerboard::before,.icon-first.checkerboard::before{content:"ϥ";}
.icon.checkerboard2::before,.icon-first.checkerboard2::before{content:"Ϧ";}
.icon.experimental::before,.icon-first.experimental::before{content:"ϩ";}
.icon.wifi::before,.icon-first.wifi::before{content:"š";}
.icon.wifi-off::before,.icon-first.wifi-off::before{content:"Ţ";}
.icon.signal::before,.icon-first.signal::before{content:"Ť";}
.icon.rss::before,.icon-first.rss::before{content:"ť";}
.icon.magnet::before,.icon-first.magnet::before{content:"Ϭ";}
.icon.flame::before,.icon-first.flame::before{content:"Я";}
.icon.flame2::before,.icon-first.flame2::before{content:"а";}
.icon.dialogue::before,.icon-first.dialogue::before{content:"Ϗ";}
.icon.dialogue-right::before,.icon-first.dialogue-right::before{content:"ϐ";}
.icon.dialogue2::before,.icon-first.dialogue2::before{content:"ϑ";}
.icon.dialogue2-right::before,.icon-first.dialogue2-right::before{content:"ϒ";}
.icon.eye::before,.icon-first.eye::before{content:"ȸ";}
.icon.eye-closed::before,.icon-first.eye-closed::before{content:"ȹ";}
.icon.eye-half::before,.icon-first.eye-half::before{content:"Ⱥ";}
.icon.eye2::before,.icon-first.eye2::before{content:"Ȼ";}
.icon.time::before,.icon-first.time::before{content:"ō";}
.icon.time2::before,.icon-first.time2::before{content:"Ŏ";}
.icon.time3::before,.icon-first.time3::before{content:"ŏ";}
.icon.timer::before,.icon-first.timer::before{content:"Ő";}
.icon.cursor::before,.icon-first.cursor::before{content:"Ǫ";}
.icon.layer::before,.icon-first.layer::before{content:"Ǝ";}
.icon.bold::before,.icon-first.bold::before{content:"Ű";}
.icon.italic::before,.icon-first.italic::before{content:"ű";}
.icon.underline::before,.icon-first.underline::before{content:"Ų";}
.icon.align-left::before,.icon-first.align-left::before{content:"Ŵ";}
.icon.align-center::before,.icon-first.align-center::before{content:"ŵ";}
.icon.align-right::before,.icon-first.align-right::before{content:"Ŷ";}
.icon.align-justify::before,.icon-first.align-justify::before{content:"ŷ";}
.icon.textHeight::before,.icon-first.textHeight::before{content:"Ÿ";}
.icon.element::before,.icon-first.element::before{content:"Ɔ";}
.icon.element-add::before,.icon-first.element-add::before{content:"Ƈ";}
.icon.element-add2::before,.icon-first.element-add2::before{content:"ƈ";}
.icon.element-remove::before,.icon-first.element-remove::before{content:"Ɖ";}
.icon.element2::before,.icon-first.element2::before{content:"Ɗ";}
.icon.element2-add::before,.icon-first.element2-add::before{content:"Ƌ";}
.icon.element2-add2::before,.icon-first.element2-add2::before{content:"ƌ";}
.icon.element2-remove::before,.icon-first.element2-remove::before{content:"ƍ";}
.icon.element-layer::before,.icon-first.element-layer::before{content:"Ə";}
.icon.element-up::before,.icon-first.element-up::before{content:"Ɛ";}
.icon.element-down::before,.icon-first.element-down::before{content:"Ƒ";}
.icon.element-first::before,.icon-first.element-first::before{content:"ƒ";}
.icon.element-last::before,.icon-first.element-last::before{content:"Ɠ";}
.icon.select::before,.icon-first.select::before{content:"Ɣ";}
.icon.select-add::before,.icon-first.select-add::before{content:"ƕ";}
.icon.select-group::before,.icon-first.select-group::before{content:"Ɩ";}
.icon.edit::before,.icon-first.edit::before{content:"Ƙ";}
.icon.edit-group::before,.icon-first.edit-group::before{content:"Ɨ";}
.icon.edit-triangle::before,.icon-first.edit-triangle::before{content:"ƙ";}
.icon.edit-line::before,.icon-first.edit-line::before{content:"ƚ";}
.icon.displace-left::before,.icon-first.displace-left::before{content:"Ȅ";}
.icon.displace-right::before,.icon-first.displace-right::before{content:"ȅ";}
.icon.displace2-left::before,.icon-first.displace2-left::before{content:"Ȇ";}
.icon.displace2-right::before,.icon-first.displace2-right::before{content:"ȇ";}
.icon.statistics::before,.icon-first.statistics::before{content:"ļ";}
.icon.statistics2::before,.icon-first.statistics2::before{content:"ľ";}
.icon.statistics3::before,.icon-first.statistics3::before{content:"Ŀ";}
.icon.statistics4::before,.icon-first.statistics4::before{content:"ŀ";}
.icon.padlock::before,.icon-first.padlock::before{content:"ф";}
.icon.padlock-unlock::before,.icon-first.padlock-unlock::before{content:"х";}
.icon.barcode::before,.icon-first.barcode::before{content:"Ũ";}
.icon.qrcode::before,.icon-first.qrcode::before{content:"ũ";}
.icon.circlecode::before,.icon-first.circlecode::before{content:"Ŧ";}
.icon.link::before,.icon-first.link::before{content:"ū";}
.icon.link2::before,.icon-first.link2::before{content:"Ŭ";}
.icon.box::before,.icon-first.box::before{content:"ϛ";}
.icon.box2::before,.icon-first.box2::before{content:"Ϝ";}
.icon.cube::before,.icon-first.cube::before{content:"ϝ";}
.icon.cube2::before,.icon-first.cube2::before{content:"Ϟ";}
.icon.cube-stroke::before,.icon-first.cube-stroke::before{content:"ϟ";}
.icon.forbidden::before,.icon-first.forbidden::before{content:"Э";}
.icon.forbidden2::before,.icon-first.forbidden2::before{content:"Ю";}
.icon.sun::before,.icon-first.sun::before{content:"Ѡ";}
.icon.moon::before,.icon-first.moon::before{content:"ѡ";}
.icon.pin::before,.icon-first.pin::before{content:"Ѱ";}
.icon.pin2::before,.icon-first.pin2::before{content:"ѱ";}
.icon.text::before,.icon-first.text::before{content:"Ғ";}
.icon.postIt::before,.icon-first.postIt::before{content:"ғ";}
.icon.formRadio::before,.icon-first.formRadio::before{content:"Ҕ";}
.icon.formCheckbox::before,.icon-first.formCheckbox::before{content:"ҕ";}
.icon.clickableImage::before,.icon-first.clickableImage::before{content:"Җ";}


/** Geometrics **/

/* Forms */
.icon.circle::before,.icon-first.circle::before{content:"Æ";}
.icon.circle2::before,.icon-first.circle2::before{content:"Å";}
.icon.circle3::before,.icon-first.circle3::before{content:"Ä";}
.icon.circle-filled::before,.icon-first.circle-filled::before{content:"Ã";}
.icon.circle-dashed::before,.icon-first.circle-dashed::before{content:"Ç";}
.icon.circle-dashed2::before,.icon-first.circle-dashed2::before{content:"È";}
.icon.circle-dashed3::before,.icon-first.circle-dashed3::before{content:"É";}
.icon.circle-hatched::before,.icon-first.circle-hatched::before{content:"Ê";}
.icon.circle-hatched2::before,.icon-first.circle-hatched2::before{content:"Ë";}
.icon.square-dashed::before,.icon-first.square-dashed::before{content:"Í";}
.icon.square-dashed2::before,.icon-first.square-dashed2::before{content:"Î";}
.icon.square-dashed3::before,.icon-first.square-dashed3:before{content:"Ï";}
.icon.square-dashed4::before,.icon-first.square-dashed4::before{content:"Ð";}
.icon.square-dashed5::before,.icon-first.square-dashed5::before{content:"Ì";}
.icon.square-hatched::before,.icon-first.square-hatched::before{content:"Ñ";}
.icon.square-hatched2::before,.icon-first.square-hatched2::before{content:"Ò";}
.icon.triangleUp::before,.icon-first.triangleUp::before{content:"Ó";}
.icon.triangleUp-stroke::before,.icon-first.triangleUp-stroke::before{content:"Ô";}
.icon.triangleDown::before,.icon-first.triangleDown::before{content:"Õ";}
.icon.triangleDown-stroke::before,.icon-first.triangleDown-stroke::before{content:"Ö";}
.icon.losange::before,.icon-first.losange::before{content:"×";}
.icon.losange-stroke::before,.icon-first.losange-stroke::before{content:"Ø";}
.icon.pentagon::before,.icon-first.pentagon::before{content:"Ù";}
.icon.pentagon-stroke::before,.icon-first.pentagon-stroke::before{content:"Ú";}
.icon.hexagon::before,.icon-first.hexagon::before{content:"Û";}
.icon.hexagon-stroke::before,.icon-first.hexagon-stroke::before{content:"Ü";}
.icon.hexagon2::before,.icon-first.hexagon2::before{content:"Ý";}
.icon.hexagon2-stroke::before,.icon-first.hexagon2-stroke::before{content:"Þ";}
.icon.decagon::before,.icon-first.decagon::before{content:"ß";}
.icon.decagon-stroke::before,.icon-first.decagon-stroke::before{content:"à";}

/* Spinners */
.icon.spinner-full::before,.icon-first.spinner-full::before{content:"ê";}
.icon.spinner-quarter::before,.icon-first.spinner-quarter::before{content:"ì";}
.icon.spinner-third::before,.icon-first.spinner-third::before{content:"í";}
.icon.spinner-half::before,.icon-first.spinner-half::before{content:"î";}
.icon.spinner-threeQuarter::before,.icon-first.spinner-threeQuarter::before{content:"ï";}
.icon.spinner-dual::before,.icon-first.spinner-dual::before{content:"ð";}


/** Games **/

/* Collectable */
.icon.candy::before,.icon-first.candy::before{content:"Ã";}
.icon.candy2::before,.icon-first.candy2::before{content:"Ä";}
.icon.cake::before,.icon-first.cake::before{content:"Æ";}
.icon.cake2::before,.icon-first.cake2::before{content:"Ç";}
.icon.coin::before,.icon-first.coin::before{content:"Ê";}
.icon.coin2::before,.icon-first.coin2::before{content:"Ë";}
.icon.coin3::before,.icon-first.coin3::before{content:"Ì";}
.icon.ruby::before,.icon-first.ruby::before{content:"Î";}
.icon.diamond::before,.icon-first.diamond::before{content:"Ï";}
.icon.diamond2::before,.icon-first.diamond2::before{content:"Ð";}
.icon.diamond3::before,.icon-first.diamond3::before{content:"Ñ";}
.icon.bag::before,.icon-first.bag::before{content:"Ò";}
.icon.bomb::before,.icon-first.bomb::before{content:"×";}

/* Stats */
.icon.accuracy::before,.icon-first.accuracy::before{content:"Ô";}
.icon.speed::before,.icon-first.speed::before{content:"Õ";}
.icon.force::before,.icon-first.force::before{content:"Ö";}
.icon.armor::before,.icon-first.armor::before{content:"û";}
.icon.skull::before,.icon-first.skull::before{content:"Ø";}
.icon.grave::before,.icon-first.grave::before{content:"Ù";}
.icon.sleep::before,.icon-first.sleep::before{content:"Ā";}

/* Players */
.icon.joystick::before,.icon-first.joystick::before{content:"Ü";}
.icon.joystick2::before,.icon-first.joystick2::before{content:"Ý";}
.icon.dice1::before,.icon-first.dice1::before{content:"ë";}
.icon.dice2::before,.icon-first.dice2::before{content:"ì";}
.icon.dice3::before,.icon-first.dice3::before{content:"í";}
.icon.dice4::before,.icon-first.dice4::before{content:"î";}
.icon.dice5::before,.icon-first.dice5::before{content:"ï";}
.icon.dice6::before,.icon-first.dice6::before{content:"ð";}