@font-face {
    font-family: 'WebAtlas-icons';
    src: url('../font/WebAtlas-icons-original.woff2') format('woff2'),
         url('../font/WebAtlas-icons-original.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-icons-sharp';
    src: url('../font/WebAtlas-icons-sharp.woff2') format('woff2'),
         url('../font/WebAtlas-icons-sharp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-icons-outline';
    src: url('../font/WebAtlas-icons-outline.woff2') format('woff2'),
         url('../font/WebAtlas-icons-outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-geometrics';
    src: url('../font/WebAtlas-geometrics-original.woff2') format('woff2'),
         url('../font/WebAtlas-geometrics-original.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-geometrics-sharp';
    src: url('../font/WebAtlas-geometrics-sharp.woff2') format('woff2'),
         url('../font/WebAtlas-geometrics-sharp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-geometrics-outline';
    src: url('../font/WebAtlas-geometrics-outline.woff2') format('woff2'),
         url('../font/WebAtlas-geometrics-outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-games';
    src: url('../font/WebAtlas-games-original.woff2') format('woff2'),
         url('../font/WebAtlas-games-original.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-games-sharp';
    src: url('../font/WebAtlas-games-sharp.woff2') format('woff2'),
         url('../font/WebAtlas-games-sharp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebAtlas-games-outline';
    src: url('../font/WebAtlas-games-outline.woff2') format('woff2'),
         url('../font/WebAtlas-games-outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}